.promos {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
    background-color: #00913f;
    padding: 6.4rem 3rem;
    border-radius: 24px;

    & article {
        width: 100%;
    }

}

.promos__title {
    font-size: 2.75rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.promos__left {
    display: grid;

    & p {
        color: #ffffff;
        padding: 10px 0px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
    }

    & Button {
        width: 30%;
    }
}

.promos__right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}